@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.input-group{
    display: flex;
    align-items: center;
    max-width: 1200px;
    min-width: 800px;
    margin: 0 60px 30px 60px;
    background-color: whitesmoke;
    border-radius: 10px;
    
}
.form-label {   
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 30px 20px 30px 40px;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: cadetblue;
    
}
.add-input-title, .add-input-body {
    width: 200px;
    height: 28px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0;
}


.add-button{
    background-color: white;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: rgb(88, 88, 88);
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    margin-left: 40px;
    
}
.add-button:hover{
    background-color: cadetblue;
    border: 1px solid #ddd;
    color: white;
}