@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.list-container{
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    font-family: 'Secular One', sans-serif;
    margin: 30px 60px 30px 60px;
    padding-bottom: 60px;
    border-radius: 10px;

}

.list-title {
    padding: 40px;
   display: block;
   font-size: 2rem;
   color: dodgerblue;
   
}
.list-wrapper {
   /* float: left; */
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
}



