@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.todo-list-container {
    width: 200px;
    min-height: 120px;
    border: 1px solid dodgerblue;
    padding : 30px;
    border-radius: 10px;
   
}
.button-set {
    display: flex;
    justify-content: left;
    gap: 12px;
}

.todo-list-detail {
    font-family: 'Secular One', sans-serif; 
    float: right;
    color: cadetblue;
    cursor: pointer;
    text-decoration: none;
}
.todo-list-detail:hover {
    color: gray;
}

.todo-list-title {
    color: cadetblue;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Secular One', sans-serif; 
}

.todo-list-body {
    margin: 5px 0 15px 0;
    font-size: 16px;
    color: rgb(88, 88, 88);
    font-family: 'Noto Sans KR', sans-serif; 
    
}

.todo-delete-button, .todo-complete-button {
    margin: 15px 10px 0 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: rgb(88, 88, 88);
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Secular One', sans-serif;
    cursor: pointer;

}

.todo-delete-button:hover{
    background-color: cadetblue;
    border: 1px solid #eee;
    color: white;
    font-family: 'Secular One', sans-serif;
}
.todo-complete-button:hover{
    background-color: cadetblue;
    border: 1px solid #eee;
    color: white;
    font-family: 'Secular One', sans-serif;
}
