@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*{
    margin: 0 auto;
}

.header{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px;
    padding: 60px 0 0 60px;
}
.header h1{
    margin: 0 auto;
    color: dodgerblue;
    font-size: 60px;
    font-family: 'Secular One', sans-serif;
    
}
.header nav{
    padding: 0 60px 30px 0;
    text-align: right;
    font-size: 16px;
    color: cadetblue;
    font-family: 'Silkscreen', cursive;
}



